#about-image img {
    width: 100%;
    height: auto;
}

#staff {
    padding-top: 80px;
    padding-bottom: 60px;
}

#about-pera {
    max-width: 1220px;
    margin: auto;
}

#about-pera h2 {
    font-size: 44px;
    line-height: 56px;
    font-weight: 500;
    letter-spacing: 0px;
    color: #000;
}

#about-us-main h4 {
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    letter-spacing: 0px;
    color: var(--secondary-bgcolor);
    margin-bottom: 15px;
}

#about-us-main h3 {
    margin-top: 40px;
    font-size: 32px;
    line-height: 42px;
    font-weight: 400;
    letter-spacing: 0px;
    color: var(--secondary-bgcolor);
    margin-bottom: 15px;
}

#our-staff {
    margin-top: 100px;
    max-width: 1220px;
    margin-left: auto;
    margin-right: auto;
}

#staff-detail {
    display: flex;
    margin-top: 60px;
    justify-content: space-evenly;
}

.staff-name {
    width: 30%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.staff-name p {
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
    letter-spacing: 0px;
}

#mission {
    padding-top: 80px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#mission h1 {
    font-size: 44px;
    line-height: 56px;
    font-weight: 500;
    letter-spacing: 0px;
    color: #000;
    margin-bottom: 55px;
}

#mission h4 {
    margin-bottom: 55px;
}

#mission img {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
}

@media screen and (max-width: 768px) {
    #about-pera h2 {
        font-size: 30px;
        line-height: 40px;
    }

    #staff-detail {
        flex-direction: column;
        align-items: center;
    }

    .staff-name {
        width: 95%;
    }

    #mission img {
        width: 100%;
    }

    #mission h1 {
        font-size: 30px;
        line-height: 40px;
    }
}