* {
    margin: 0;
    padding: 0;
}

:root {
    --primary-bgcolor: #f1f1f5;
    --secondary-bgcolor: #7fbd5d;
    --primary-color: #626262;
}

#diets-main h2 {
    font-size: 28px;
    line-height: 36px;
    font-weight: 700;
    letter-spacing: 0px;
    color: var(--secondary-bgcolor);
    margin-bottom: 15px;
}

#diets-and-recipes {
    background-image: url(./Images/home_diet_subheader1.jpg);
    background-position: center top;
}

#diets-and-recipes h1 {
    font-family: "Lora", Arial, Tahoma, sans-serif;
    font-size: 60px;
    line-height: 60px;
    font-weight: 500;
    letter-spacing: 0px;
    color: #fff;
    padding: 140px 0;
}

#diets-and-recipes-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
}

#diets-and-recipes-content h1 {
    font-size: 44px;
    line-height: 56px;
    font-weight: 500;
    letter-spacing: 0px;
    color: #000;
    margin-top: 60px;
    margin-bottom: 15px;
}

#diets-and-recipes-left {
    width: 77%;
    margin: 0 auto;
    padding-left: 10px;
}

#diets-and-recipes-content hr {
    color: var(--secondary-bgcolor);
    background-color: var(--secondary-bgcolor);
    width: 10%;
    height: 4px;
    margin-bottom: 15px;
}

.diets-content1 p {
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
    letter-spacing: 0px;
    margin-bottom: 55px;
    padding-right: 5%;
}

.diets-content2 {
    display: flex;
}

.diets-content2 p {
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
    letter-spacing: 0px;
    margin-bottom: 15px;
}

.diets-content2-div1 {
    width: 50%;
    padding-right: 5%;
}

.diets-content2-div2 {
    width: 50%;
    padding-right: 5%;
}

.diets-images {
    display: flex;
    margin-top: 40px;
}

.diets-images-cont1 {
    width: 50%;
    margin-right: 20px;
}

.diets-images-cont2 {
    width: 50%;
    margin-right: 20px;
}

.diets-button-div {
    display: flex;
    justify-content: center;
}

#diets-and-recipes-left button {
    width: 50%;
    line-height: 50px;
    margin: 36px 0;
    border: none;
    background-color: var(--secondary-bgcolor);
    color: #fff;
    margin-left: auto;
    margin-right: auto;
}

#search {
    width: 80%;
    padding: 10px 20px;
    border: none;
    background-color: #fff;
    margin-bottom: 25px;
}

#diets-and-recipes-right-search-box {
    border-bottom: 1px solid hsla(0, 0%, 38%, 0.3);
}

#diets-and-recipes-right {
    width: 22%;
    padding-left: 25px;
    border-left: 1px solid hsla(0, 0%, 38%, 0.3);
    padding-top: 25px;
}

#diets-and-recipes-right h5 {
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    margin-bottom: 25px;
    margin-top: 25px;
    color: #000;
}

#diets-and-recipes-right-about-us {
    padding-bottom: 25px;
    border-bottom: 1px solid hsla(0, 0%, 38%, 0.3);
}

#Recent-posts h6 {
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    letter-spacing: 0px;
    color: #000;
    text-decoration: none;
    margin-left: 15px;
    display: inline;
    border-bottom: 1px solid hsla(0, 0%, 38%, 0.3);
}

#Recent-posts a {
    color: var(--primary-color);
    text-decoration: none;
}

#Recent-posts a img {
    float: right;
}

#Recent-posts ul {
    list-style: none;
}

#Recent-posts span {
    margin-left: 15px;
}

#Recent-posts ul li div {
    display: inline-block;
}

#Recent-posts li {
    background-color: #fff;
    height: 80px;
    margin-bottom: 10px;
}

#Recent-posts {
    padding-bottom: 15px;
    border-bottom: 1px solid hsla(0, 0%, 38%, 0.3);
}

.Recent-posts-img {
    float: right;
}

#diets-and-recipes-right-Categories ul {
    background-color: var(--secondary-bgcolor);
    color: #fff;
    list-style: square inside;
    padding: 20px;
}

#diets-and-recipes-right-Categories ul li a {
    color: #fff;
    text-decoration: none;
}

#diets-and-recipes-right-Categories ul li a:hover {
    color: #fff;
    text-decoration: underline;
}

#diets-and-recipes-right-Categories hr {
    width: 30%;
    height: auto;
    position: relative;
    left: -20px;
    opacity: 0.3;
}

#footer-diets {
    margin-top: 60px;
}

@media screen and (max-width: 768px) {
    #diets-and-recipes-content {
        flex-direction: column;
    }

    #diets-and-recipes-left {
        width: 95%;
    }

    #diets-and-recipes-right {
        width: 95%;
    }

    .diets-content2 {
        flex-direction: column;
    }

    .diets-content2-div1 {
        width: 95%;
    }

    .diets-content2-div2 {
        width: 95%;
    }

    .diets-images {
        flex-direction: column;
        align-items: center;
    }

    .diets-images-cont1 {
        width: 80%;
        margin-right: 0;
    }

    .diets-images-cont2 {
        width: 80%;
        margin-right: 0;
    }

    #diets-and-recipes-left button {
        width: 70%;
    }
}